vault/projects/

vault/.obsidian/workspace.json
vault/.obsidian/workspaces.json
vault/.obsidian/workspace-mobile.json
vault/.obsidian/cache/
vault/.obsidian/.trash/

vault/.obsidian/plugins/linear/
vault/.obsidian/plugins/spotify-control/
vault/.obsidian/plugins/hearth/

build/
dist/

node_modules/

.DS_Store
Thumbs.db
